<style>
	.rate-workout .card {
		padding: 70px 0;
  	border: 2px solid grey;
  	text-align: center;
    color: #003259;
    opacity: 0.8;
    height: 12em;
	}
	.row {
		margin-top:40%;
	}

	.dislikes:hover {
		background-color: #CC0000;
	}

	.likes:hover {
		background-color: #71B11D;
	}
</style>
<div class="container" style="margin-top:2em;">
	<%= render 'partials/alert' %>
	<% if  @already_rated %>
		<div class="jumbotron jumbotron-fluid">
	    <div class="container">
	      <h1 class="display-4 text-center">Already rated!</h1>
	      <hr/>
	      <p class="lead">You have already rated todays workout. Please come back tomorrow and tell us how tomorrows workout goes.</b></p>
	    </div>
	  </div>
	<% else %>
		<div class="row rate-workout">
			<%= hidden_field_tag :workout_id, @workout.id %>
			<%= hidden_field_tag :user_id, @user_id %>
			<div class="card col-md-3 offset-md-2 col-4 offset-1 text-center likes" data-type="likes">
			  <div class="card-body">
			  	<i class="fa fa-thumbs-up fa-lg"></i>
			  </div>
			 </div>
			<div class="card col-md-3 offset-md-1 col-4 offset-1 text-center dislikes" data-type="dislikes">
				<div class="card-body">
					<i class="fa fa-thumbs-down fa-lg"></i>
				</div>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.likes, .dislikes').on('click', function() {
			$.ajax({
				beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
			  dataType: 'script',
			  type: 'POST',
			  url: "/workout/rate_workout",
			  data: {id: $('#workout_id').val(), type: $(this).data('type'), user_id: $('#user_id').val()},
			  success: function(data) {
			  	alert("Rating successfully submitted")
				}
			});
		});
	});
</script>